@page
@model New_ConsumerPortal.Pages.RepPortal.Add_RetailPartnerModel
@{
    ViewData["Title"] = "Add new Retail Parnter";
}
<div class="row g-0 login-background">
    <h1 class="paragraph-font fw-bold text-capitalize h3">Retail Partner</h1>
    <div class="col-12 col-lg-6">
        <div class="mb-3">
            <label for="" class="form-label">Store Name</label>
            <input type="text" name="" class="" id="" value="" placeholder="What is the storefront called?" />
        </div>
    </div>
    <div class="col-12 col-lg-6">

    </div>
</div>