@page
@model New_ConsumerPortal.Pages.RepPortal.current_promotionsModel
@{
    ViewData["Title"] = "Current Promotions";
}
<div class="row login-background p-0 m-0">
    <div class="col-12">
        <h1 class="fw-light text-center purple-text">Current Promotions</h1>
        <div class="row my-4 d-flex justify-content-center align-items-center gy-3">
            <div class="col-12 col-lg-3 mx-md-2">
                
                <div class="d-flex flex-column">
                    <img src="https://zucorahome.com/wp-content/uploads/2021/11/image-4.png" alt="Purecare logo." class="img-fluid d-block mx-auto white-background shadow-sm" />
                    <p class="text-uppercase light-purple-button mx-auto mt-4 fw-normal">5 days left</p>
                </div>
            </div>
            <div class="col-12 col-lg-2 mx-md-2 p-0">
                <div class="d-flex flex-column">
                    <div class="white-background shadow-sm shield-background">
                        <div class="d-flex justify-content-md-end flex-column justify-content-center p-3">
                            <div>
                                <img src="https://zucorahome.com/wp-content/uploads/2021/11/smarterLiving-plan-small-logo.png" alt="Smartone plan logo." class="img-fluid" />
                            </div>
                            <div class="mt-2">
                                <h5 class="fw-light purple-text text-end h6">5 year Accidental Stain and Damage Protection</h5>
                                <h5 class="fw-light purple-text text-end h6">5 ans de protection contre les teaches et les dommages accidentels</h5>
                            </div>
                            <div class="mt-3">
                                <p class="text-uppercase text-right mb-1 fs-14">Receive upto<br />Recevez jusqua</p>
                                <p class="text-uppercase text-right mb-1 fs-14">$200 $</p>
                                <p class="text-uppercase text-right mb-0 fs-14">with plan upgrade<br />avec mise a nveau du plan</p>
                            </div>
                        </div>
                        <div class="w-100 purple-background p-2">
                            <p class="white-text text-uppercase text-right mb-0 fs-14">Activate now!</p>
                            <p class="white-text text-uppercase text-right mb-0 fs-14">Activez maintenant!</p>
                        </div>
                    </div>
                    <p class="text-uppercase light-purple-button mx-auto mt-4 fw-normal">Convert MP's by Dec 31, 2021</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 mx-md-2">
                <div class="d-flex flex-column">
                    <img src="https://zucorahome.com/wp-content/uploads/2021/11/image-6.png" alt="Alternate Text" class="img-fluid d-block mx-auto shadow-sm" />
                    <p class="text-uppercase light-purple-button mx-auto mt-4 fw-normal">On through March 31, 2021</p>
                </div>
                
            </div>
        </div>
        <!--Alerts table-->
        <div class="row my-5">
            <h2 class="purple-text fw-light text-center">Alerts</h2>
            <div class="col-10 white-background p-3 rounded-2 custom-boxshadow mx-auto">
                <table class="table custom-table table-borderless table-responsive-lg">
                    <thead>
                        <tr class="login-background">
                            <td scope="col" class="customGrey-text text-uppercase fw-normal">Status</td>
                            <td scope="col" class="customGrey-text text-uppercase fw-normal">From</td>
                            <td scope="col" class="customGrey-text text-uppercase fw-normal">Subject</td>
                            <td scope="col" class="customGrey-text text-uppercase fw-normal">Date</td>
                            <td scope="col" class="customGrey-text text-uppercase fw-normal">Archive</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="align-middle border-bottom">
                            <td scope="row" data-lable="Status"><p class="status-completed text-center text-uppercase mb-0 p-2 w-50">New</p></td>
                            <td scope="row" data-lable="From">David Cohn</td>
                            <td scope="row" data-lable="Subject">RE: PureCare prices</td>
                            <td scope="row" data-lable="Date"><i class="far fa-calendar-alt customGrey-text mx-1"></i>05/05/2021</td>
                            <td scope="row" data-lable="Archive"><i class="fas fa-archive purple-text"></i></td>
                        </tr>
                        <tr class="align-middle border-bottom">
                            <td scope="row" data-lable="Status"><p class="status-completed text-center text-uppercase mb-0 p-2 w-50">New</p></td>
                            <td scope="row" data-lable="From">David Cohn</td>
                            <td scope="row" data-lable="Subject">RE: PureCare prices</td>
                            <td scope="row" data-lable="Date"><i class="far fa-calendar-alt customGrey-text mx-1"></i>05/05/2021</td>
                            <td scope="row" data-lable="Archive"><i class="fas fa-archive purple-text"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!--Main div ends-->
</div>