@page
@model New_ConsumerPortal.Pages.RepPortal.loginModel
@{
}
<div class="row g-0 login-background">
    <div class="col-12 col-md-6 offset-md-3 my-5">
        <div class="p-3 row justify-content-center">
            <h1 class="fw-light text-center purple-text">Login</h1>
            <div class="col col-lg-8 col-xl-6 mt-3">
                <div class="mb-3">
                    <label for="" class="form-label fw-bold">Email</label>
                    <input type="text" name="login-email" value="" placeholder="" class="form-control form-control-lg" required />
                    @*<input asp-for="Input.Email" class="form-control" placeholder="Enter email" />*@
                </div>
                <div class="mb-3">
                    <label for="" class="form-label fw-bold">Password</label>
                    <div class="d-flex">
                        <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="" required>
                        <a href="#" class="toggle-password "><i class="fa fa-fw fa-eye-slash"></i></a>
                    </div>
                    
                    @*<input asp-for="Input.Password" class="form-control" placeholder="Enter password" />*@
                </div>
            </div>
            <!--substitue of "row" class-->
            <div class="w-100"></div>
            <!--Reset password and remember me-->
            <div class="col col-lg-8 my-3 col-xl-6">
                <div class="d-flex justify-content-between align-content-center">
                    <div class="form-check">
                        <input type="checkbox" name="remember-me" value="remember" class="form-check-input" />
                        <label class="form-check-label lightGrey-text" for="remember-me">Remember me</label>
                    </div>
                    <div>
                        <a class="purple-text fw-bold text-decoration-underline" asp-controller="RequestPasswordReset">Reset password</a>
                    </div>

                </div>
            </div>
            <!--substitue of "row" class-->
            <div class="w-100"></div>
            <!--login button-->
            <div class="col col-lg-8 col-xl-6">
                <button class="btn btn-primary w-50 text-uppercase btn-lg rounded-pill mx-auto d-block my-4" type="submit">Login</button>
                <hr class="grey-hr"/>
            </div>
            <!--substitue of "row" class-->
            <div class="w-100"></div>
            <!--create account-->
            <div class="col d-flex flex-column flex-md-row justify-content-center align-items-center my-3">
                <div>
                    <p class="lightGrey-text text-center mb-0">Don't have an account?</p>
                </div>
                <div class="text-center">
                    <a href="Register" class="purple-text fw-bold text-decoration-none px-2" target="_self">Create an account?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(".toggle-password").click(function () {
        $(this).children().toggleClass("fa-eye fa-eye-slash");
        input = $(this).parent().find("input");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>