@page
@model New_ConsumerPortal.Pages.RepPortal.plansModel
@{
    ViewData["Title"] = "Plans";
}

<div class="row g-0 login-background justify-content-center">
    <div class="col-12 col-lg-10 justify-content-center my-5">
        <h1 class="paragraph-font fw-bold text-capitalize h3 px-4 px-lg-0">Plans</h1>
        <!---->
        <div class="row justify-content-center gy-4">
            <div class="col-11 col-lg-3 px-3">
                <div class="white-background p-3">
                    <!--collapse button, which will open the main plans with accordion inside-->
                    <button class="btn btn-primary w-100" data-bs-toggle="collapse" type="button" data-bs-target="#PlanMainCollapse" aria-expanded="false" aria-controls="PlanMainCollapse">Choose a plan</button>
                    <!--Main collapse div-->
                    <div class="collapse show" id="PlanMainCollapse">
                        <div class="">
                            <!--Accordion body-->
                            <div class="accordion-body p-2" id="PlanAccordionContainer">
                                <!--first item-->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="SLP-Title">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#SLP-Content" aria-expanded="true" aria-controls="SLP-Content">Smarter Living Plans</button>
                                    </h2>
                                    <div id="SLP-Content" class="accordion-collapse collapse show" aria-labelledby="SLP-Title" data-bs-parent="#PlanMainCollapse">
                                        <div class="accordion-body">
                                            <p><a href="#" class="fw-bold text-decoration-none AllSmarterLivingPlans">View All Plans</a></p>
                                            <p><a href="#" class="fw-bold text-decoration-none FurniturePlan">Furniture Plan</a></p>
                                            <p><a href="#" class="fw-bold text-decoration-none AppliancePlan">Appliance Plan</a></p>
                                            <p><a href="#" class="fw-bold text-decoration-none HomeSystemPlan">Home Systems Plan</a></p>
                                        </div>
                                    </div>
                                </div>
                                <!--Second item-->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="SmartOne-Title">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SmartOne-Content" aria-expanded="true" aria-controls="SmartOne-Content">Smart One</button>
                                    </h2>
                                    <div id="SmartOne-Content" class="accordion-collapse collapse" aria-labelledby="SmartOne-Title" data-bs-parent="#PlanMainCollapse">
                                        <div class="accordion-body">
                                            <p><a href="#" class="fw-bold text-decoration-none">5 Year Furniture</a></p>
                                            <p><a href="#" class="fw-bold text-decoration-none">Appliance Program</a></p>                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Accordion ends-->
                        </div>
                        <!--card-body ends-->
                    </div>
                </div>
            </div>
            <div class="col-11 col-lg-9">
                <!--Smarter living plans all-->
                <div class="row justify-content-center gy-4 gy-xl-0 current-plan-visible d-none" id="AllSmarterLivingPlans">
                    <p class="purple-text fw-bold">Smarter Living Plans</p>
                    <!---->
                    <div class="col-12 col-lg-4">
                        <a href="javascript:void(0)" class="FurniturePlan text-decoration-none">
                            <div class="border shadow-sm white-background">
                                <div class="d-flex flex-column justify-content-center align-content-center">
                                    <div class="p-3">
                                        <img src="https://zucorahome.com/wp-content/uploads/2022/02/Furniture.png" alt="White couch from front side image." class="img-fluid d-block mx-auto w-75" />
                                    </div>
                                    <hr />
                                    <div class="p-3">
                                        <h5 class="text-center fw-bold paragraph-font">Furniture</h5>
                                        <p class="purple-text text-center">$<span class="h3 purple-text">29.99</span>/month</p>
                                        <p class="text-center fs-14"><small>Includes Multiple Pieces of Furniture</small></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-4">
                       <a href="javascript:void(0)" class="AppliancePlan text-decoration-none"> 
                           <div class="border shadow-sm white-background">
                            <div class="d-flex flex-column justify-content-center align-content-center">
                                <div class="p-3">
                                    <img src="https://zucorahome.com/wp-content/uploads/2022/02/Appliance.png" alt="From left side Stove, refrigerator and dryer." class="img-fluid d-block mx-auto w-75" />
                                </div>
                                <hr />
                                <div class="p-3">
                                    <h5 class="text-center fw-bold paragraph-font">Appliance</h5>
                                    <p class="purple-text text-center">$<span class="h3 purple-text">39.99</span>/month</p>
                                    <p class="text-center fs-14"><small>Includes Multiple Major Appliances</small></p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="border shadow-sm white-background">
                            <a href="javascript:void(0)" class="HomeSystemPlan text-decoration-none">
                                <div class="d-flex flex-column justify-content-center align-content-center">
                                    <div class="p-3">
                                        <img src="https://zucorahome.com/wp-content/uploads/2022/02/HomeSystem.png" alt="Front side image of Home furnace and water tank." class="img-fluid d-block mx-auto w-75" />
                                    </div>
                                    <hr />
                                    <div class="p-3">
                                        <h5 class="text-center fw-bold paragraph-font">Home System</h5>
                                        <p class="purple-text text-center">$<span class="h3 purple-text">49.99</span>/month</p>
                                        <p class="text-center fs-14"><small>Includes Multiple Home Systems</small></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--Main smarter living plan div-->
                </div>
                <!--Smarter Living each plans-->
                <!--furniture plan-->
                <div class="row justify-content-center gy-4 gy-xl-0 d-none" id="FurniturePlan">
                    <div class="d-flex justify-content-between col-12">
                        <a href="#" class="purple-text fw-bold text-decoration-none AllSmarterLivingPlans"><i class="fas fa-arrow-left me-2"></i>Back to Smarter Living Plans</a>
                        <p><a href="#" class="text-decoration-underline AllSmarterLivingPlans">Smarter Living Plans</a> / <span class="text-muted">Furniture</span></p>
                    </div>
                    <div class="col-12 border shadow-sm white-background g-0">
                        <div class="d-flex w-100 flex-column flex-lg-row justify-content-start align-items-center">
                            <!--left side-->
                            <div class="d-flex flex-column justify-content-center align-content-center border-end">
                                <div class="p-3">
                                    <img src="https://zucorahome.com/wp-content/uploads/2022/02/Furniture.png" alt="White couch from front side image." class="img-fluid d-block mx-auto w-75" />
                                </div>
                                <hr />
                                <div class="p-3">
                                    <h5 class="text-center fw-bold paragraph-font">Furniture</h5>
                                    <p class="purple-text text-center">$<span class="h3 purple-text">29.99</span>/month</p>
                                    <p class="text-center fs-14"><small>Includes Multiple Pieces of Furniture</small></p>
                                </div>
                            </div>
                            <!--right side-->
                            <div class="p-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>All accidental stains and damage</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Wear and tear</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Pet damage</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Power failure (reclining motors)</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Mechanisms</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Frame</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Springs</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Coverage for all home furnishings including dining and bedroom</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>One low convenient monthly fee</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Furniture plans ends-->
                <!--Appliance Plan starts-->
                <div class="row justify-content-center gy-4 gy-xl-0 d-none" id="AppliancePlan">
                    <div class="d-flex justify-content-between col-12">
                        <a href="#" class="purple-text fw-bold text-decoration-none AllSmarterLivingPlans"><i class="fas fa-arrow-left me-2"></i>Back to Smarter Living Plans</a>
                        <p><a href="#" class="text-decoration-underline AllSmarterLivingPlans">Smarter Living Plans</a> / <span class="text-muted">Appliance</span></p>
                    </div>
                    <div class="col-12 border shadow-sm white-background g-0">
                        <div class="d-flex w-100 flex-column flex-lg-row justify-content-start align-items-center">
                            <!--left side-->
                            <div class="d-flex flex-column justify-content-center align-content-center border-end">
                                <div class="p-3">
                                    <img src="https://zucorahome.com/wp-content/uploads/2022/02/Appliance.png" alt="From left side Stove, refrigerator and dryer." class="img-fluid d-block mx-auto w-75" />
                                </div>
                                <hr />
                                <div class="p-3">
                                    <h5 class="text-center fw-bold paragraph-font">Appliance</h5>
                                    <p class="purple-text text-center">$<span class="h3 purple-text">39.99</span>/month</p>
                                    <p class="text-center fs-14"><small>Includes Multiple Major Appliances</small></p>
                                </div>
                            </div>
                            <!--right side-->
                            <div class="p-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Coverage against breakdowns and failure of all major home appliances</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Priority service for speedy repairs.</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Coverage includes parts and labour</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Free replacement if appliance cannot be repaired</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Coverage for all major home appliances including laundry pair</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>One low convenient monthly fee</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Appliance Plan ends-->
                <!--Home Sytems Plans starts-->
                <div class="row justify-content-center gy-4 gy-xl-0 d-none" id="HomeSystemPlan">
                    <div class="d-flex justify-content-between col-12">
                        <a href="#" class="purple-text fw-bold text-decoration-none AllSmarterLivingPlans"><i class="fas fa-arrow-left me-2"></i>Back to Smarter Living Plans</a>
                        <p><a href="#" class="text-decoration-underline AllSmarterLivingPlans">Smarter Living Plans</a> / <span class="text-muted">Home System</span></p>
                    </div>
                    <div class="col-12 border shadow-sm white-background g-0">
                        <div class="d-flex w-100 flex-column flex-lg-row justify-content-start align-items-center">
                            <!--left side-->
                            <div class="d-flex flex-column justify-content-center align-content-center border-end">
                                <div class="p-3">
                                    <img src="https://zucorahome.com/wp-content/uploads/2022/02/HomeSystem.png" alt="Front side image of Home furnace and water tank." class="img-fluid d-block mx-auto w-75" />
                                </div>
                                <hr />
                                <div class="p-3">
                                    <h5 class="text-center fw-bold paragraph-font">Home System</h5>
                                    <p class="purple-text text-center">$<span class="h3 purple-text">49.99</span>/month</p>
                                    <p class="text-center fs-14"><small>Includes Multiple Home Systems</small></p>
                                </div>
                            </div>
                            <!--right side-->
                            <div class="p-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Coverage against breakdowns and failure of all major home appliances</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Priority service for speedy repairs.</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Coverage includes parts and labour</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Free replacement if item cannot be repaired</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>Coverage for on HVAC, plumbing, and electircal systems</p>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="d-flex justify-content-start align-items-center"><i class="far fa-check-circle me-2 customGreen-text h4"></i>One low convenient monthly fee</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Home System Plan ends-->
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        //console.log("DOM loaded");
        let initialState = document.querySelector("#AllSmarterLivingPlans");
        initialState.classList.remove('d-none');
        initialState.classList.add('current-plan-visible');

        function showPlan(name) {
            let currentId = '#' + name;
            //remvoing classes from current plan showing up and adding d-none
            let lastPlanShowing = document.querySelector('.current-plan-visible');
            lastPlanShowing.classList.remove('current-plan-visible');
            lastPlanShowing.classList.add('d-none');
            //removing d-none the clicked class and adding current plan visible to it as well
            document.querySelector(currentId).classList.remove('d-none');
            document.querySelector(currentId).classList.add('current-plan-visible');
        }


        function AllLinksClicks(planName) {
            let className = '.' + planName;
            let allClasses = document.querySelectorAll(className);
            for (k = 0; k < allClasses.length; k++) {
                allClasses[k].addEventListener("click", function () {
                    showPlan(planName);
                }, false);
            }
        }

        AllLinksClicks('AllSmarterLivingPlans');
        AllLinksClicks('FurniturePlan');
        AllLinksClicks('AppliancePlan');
        AllLinksClicks('HomeSystemPlan');


   
    })();
</script>