@page
@model New_ConsumerPortal.Pages.RepPortal.plansModel
@{
    ViewData["Title"] = "Plans";
}

<div class="row g-0 login-background justify-content-center">
    <div class="col-11 my-4 col-lg-10 offset-lg-1">
        <h1 class="paragraph-font fw-bold text-capitalize h3">Plans</h1>
    </div>
</div>
