/*Variables*/
$zucoraPurple: #434DA0;
$lilacPurple: #a3acff;
$lightPurple: #ebecf7;
$lightGrey: #898A8D;
$darkGrey: #36384B;
$zucoraGreen: #70E9B2;
$concreteGrey: #C8C8C8;
$zucoraCoral: #FEB9A6;
$hbfsBlue: #2BAAE1;

$para-fonts: "Aktiv-Grostek", arial, sans-serif;
$heading-fonts: "Publico Headline", sans-serif;
