/*This is Main style sheet*/
@charset 'utf-8';

/*Variables*/
$zucoraPurple: #434DA0;
$lilacPurple: #a3acff;
$lightPurple: #ebecf7;
$lightGrey: #898A8D;
$darkGrey: #36384B;
$zucoraGreen: #70E9B2;
$concreteGrey: #C8C8C8;
$zucoraCoral: #FEB9A6;
$hbfsBlue: #2BAAE1;

/*new colours*/
$customGreen: #EAFCFF;
$customLightPurple: #E7EBFD;
$customGrey: #828A8F;

$para-fonts: "Aktiv-Grostek", arial, sans-serif;
$heading-fonts: "Publico Headline", sans-serif;

/*Fonts*/
@font-face {
    font-family: 'Aktiv-Grostek';
    src: url('/fonts/aktiv_grotesk-webfont.woff') format('woff'), url('/fonts/aktiv_grotesk-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv-Grostek';
    src: url('/fonts/aktiv_grotesk_italic-webfont.woff') format('woff'), url('/fonts/aktiv_grotesk_italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv-Grostek';
    src: url('/fonts/aktiv_grotesk_bold-webfont.woff') format('woff'), url('/fonts/aktiv_grotesk_bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Publico Headline';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/PublicoHeadline-Medium.woff2') format('woff2'), url(/fonts/PublicoHeadline-Medium.woff) format("woff");
}

@font-face {
    font-family: 'Publico Headline';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/PublicoHeadline-BoldItalic.woff2') format('woff2'), url('/fonts/PublicoHeadline-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Publico Headline';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/PublicoHeadline-Light.woff2') format('woff2'), url('/fonts/PublicoHeadline-Light.woff') format('woff');
}

@font-face {
    font-family: 'Publico Headline';
    font-weight: 300;
    font-style: italic;
    src: url('/fonts/PublicoHeadline-LightItalic.woff2') format('woff2'), url('/fonts/PublicoHeadline-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Publico Headline';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/PublicoHeadline-Bold.woff2') format('woff2'), url('/fonts/PublicoHeadline-Bold.woff') format('woff');
}

p, ul, li, a, span, table, label {
    font-family: $para-fonts;
    color: $darkGrey;
    font-size: 1em;
}

a:hover {
    color: $zucoraPurple;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-fonts;
    line-height: 1.5;
}

h1 {
    font-size: 2.9em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1.15em;
}

.fs-14 {
    font-size: 0.875em;
}

.fs-12 {
    font-size: 0.75em;
}

.fs-18 {
    font-size: 1.15em;
}

.fs-20 {
    font-size: 1.25em;
}

/*Text classes*/

.paragraph-font {
    font-family: $para-fonts;
}

.header-font {
    font-family: $heading-fonts;
}

.purple-text {
    color: $zucoraPurple;
}

.darkGrey-text {
    color: $darkGrey;
}

.lightGrey-text {
    color: $lightGrey;
}

.white-text {
    color: white !important;
}

.customGrey-text {
    color: $customGrey;
}

.custom-redText {
    color: #FF9393;
}

.lillacPurple-text {
    color: $lilacPurple;
}

.text-right {
    text-align: right;
}

/*Mixins*/

@mixin background-image($folder,$image) {
    background-image: url("../images/#{$folder}/#{$image}");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin status-button($colour) {
    color: $colour;
    border: 1px solid $colour;
    border-radius: 30px;
    padding: 7px;
}

@mixin round-background($color,$widthHeight) {
    background-color: $color;
    width: #{$widthHeight}px;
    height: #{$widthHeight}px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin round-background-font($size,$color) {
    font-size: #{$size}em;
    margin: 0.25 0 0 0;
    color: $color;
}

.minHeight100 {
    min-height: 100px;
}

/*Background classes*/
.purple-background {
    background-color: $zucoraPurple;
}

.white-background {
    background-color: white;
}

.login-background {
    background-color: #F8FBFD;
}

.newLightPurple-background {
    background-color: $customLightPurple;
}

.newLightGreen-background {
    background-color: $customGreen;
}

.darkGrey-background {
    background-color: $darkGrey;
}

/*Bootstrap class changes*/

.btn-primary {
    background-color: $zucoraPurple;
    border-color: $zucoraPurple;

    &:hover {
        background-color: $lilacPurple;
        border-color: $lilacPurple;
    }
}

.btn-secondary {
    background-color: $darkGrey;
    color: white;
    border-color: $darkGrey;

    &:hover {
    }
}

.rounded-3 {
    border-radius: .75rem !important;
}

/*Navigation*/
/*Zucora Navigation*/
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    width: 2em;
    height: 2em;
}

.custom-toggler .navbar-toggler {
    border-color: rgba(255,255,255,0);
    border: unset;
}

@media screen and (max-width:768px) {
    .navbar-brand {
        width: 75%;
    }

    .footer-logo {
        width: 40%;
    }

    .custom-dropdown-menu.dropdown-menu {
        width: auto;
    }
}

.custom-navLink {

    &:hover {
        background-color: white;
        transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        padding: 5px 10px;

        a {
            color: $zucoraPurple !important;
        }
    }

    a {
        /*padding: 10px 10px 5px 10px;*/
        font-size: 1em;
    }
}

.custom-dropdown-menu.dropdown-menu {
    position: absolute;
    width: 30vw;
    right: 0;
    top: 105%;
    background: white;
    border-bottom: 4px solid #434da0;
    z-index: 100;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    padding: 20px 15px;
    /*display: grid;*/
    grid-template-columns: 50% 50%;
}

.custom-dropdown-menu.dropdown-menu, .customTop-nav-dropdown.dropdown-menu {
    border-radius: 0px !important;
    border-bottom: 4px solid $zucoraPurple;
}

.custom-dropdown-menu .dropdown-item, .customTop-nav-dropdown .dropdown-item {
    &:hover, &:focus {
        color: $zucoraPurple;
        background-color: $lightPurple !important;
    }
}

/*Footer styling*/

.socialMedia-icons {
    a {
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;

        i {
            font-size: 1.5em;
        }

        &:hover {
            background-color: white;
            padding: 12px;


            i {
                color: $zucoraPurple !important;
            }
        }
    }
}

.white-hr {
    border-top: 2px solid white;
}

.footer-links > a {
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;

    &:hover {
        background-color: white;
        padding: 5px 10px;
        color: $zucoraPurple !important;
    }
}

@media screen and (max-width:768px) {
    .footer-logo {
        width: 35%;
    }
}

@media screen and (min-width:769px) {
    .footer-logo {
        width: 12%;
    }
}

/*Custom Button*/
.greenButton {
    background-color: transparent;
    border: 3px solid $zucoraGreen;
    color: $zucoraGreen !important;
    border-radius: 2em;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    padding: 15px 15px 10px 15px;

    &:hover {
        background-color: $zucoraGreen;
        color: white !important;
    }
}

/* disbaled button*/
.btn-primary.disabled, .btn-primary:disabled {
    background-color: $concreteGrey;
    border-color: $concreteGrey;
}
/*Login page styling*/
.login-imageBackground {
    @include background-image("consumer-portal","login-page.jpg");
}

.account-imageBackground {
    @include background-image("consumer-portal","account-page-image.jpg");
}

/*Creat account styling*/

.createAccount-successIcon {
    width: 50%;
}

/*Secondary navigation part*/

.hero-background {
    @include background-image("consumer-portal","first-hero-image.jpg");
    background-position: center center;
}

.profile-infoContainer {
    width: 100%;
    background-color: white;
}

.profile-iconContainer {
    > img {
        margin-top: -4em;
    }
}

.custom-navTabs {
    border-bottom: 1px solid rgba(189, 196, 201, 0.4);

    .nav-link {
        color: $customGrey;
        font-weight: 700;

        &.active {
            color: $zucoraPurple;
            text-decoration: underline;
        }

        &:hover {
            background-color: $lilacPurple;
            transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -oz-transition: all 0.3s ease-in-out;
            color: white;
            text-decoration: none;
        }
    }
}

/*My plans page*/
.furniture-planContainer {
    /* background-color: rgba(163,172,255,0.65);*/
    background-color: #E7EBFD;
}

.appliances-planContainer {
    /* background-color: rgba(112,233,178,0.65);*/
    background-color: #EAFCFF;
}

.home-systems-planContainer {
    /*background-color:rgba(254,185,166,0.65);*/
    background-color: #FFFEDF;
}

.dotted-border {
    border-top: 1px dotted $darkGrey;
}

/*Step 3 style*/
.enhance-plan-box {
    border: 2px solid #C8C8C8;
    /*padding: 2em;*/
    text-align: left;
    margin: 0 auto;
    position: relative;
    width: 350px;

    .planImage-container {
        background-color: #EBECF7;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        > img {
            width: 100%;
            max-width: 100%;
            max-height: 285px;
        }
    }

    .extra-money {
        font-size: 1.5em;
    }

    .plan-text-container {
        min-height: 155px;
        height: auto;
    }
}

.plan-overlay {
    position: absolute;
    background: rgba(0,0,0,0.65);
    color: white;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    display: none;

    .overlay-text {
        text-align: center;
        color: white;
        position: relative;
        font-size: 2em;
        padding: 15px;
        top: 25%;
    }
}

@media screen and (max-width:768px) {
    .plan-overlay {
        .overlay-text {
            font-size: 1.5em;
        }
    }
}

/*Step 4 style*/

.planBilling-details-container {
    background-color: #EEEEEE;
    padding: 1em;
    height: auto;
}

.monthly-total-container {
    width: 100%;
    border: 2px solid #C8C8C8;
    border-left: none;
    border-right: none;
    padding: 10px 0;
}
/*Account details forms*/
.information-form {

    label {
        color: $customGrey;
    }
}

/* Payment details page*/
.current-cardDetails {
    background: linear-gradient(303.44deg, #E7EBFD -5.26%, #E7F4FD 93.85%);
    display: flex;
    flex-direction: column;
    min-height: 220px;
}

.add-newCard {
    border: 2px dotted #454FA1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 220px;

    .plus-icon {
        background-color: #E7EBFD;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            font-size: 3em;
            margin: 0.25em 0 0 0;
        }
    }
}

/*Gift card*/

.minHeight270 {
    min-height: 270px;
}

/* Transactions page*/
.search-padding {
    padding: 0.5rem 2rem;
}

/*Table*/

.transaction-table {
    border-collapse: collapse;

    thead > tr > th {
        padding: 1rem;
    }

    tbody > tr:nth-child(odd) {
        background-color: #F8FBFD;
    }

    tbody > tr > td {
        color: $darkGrey;
        padding: 1rem;
    }
}

@media screen and (max-width:1023px) {
    .transaction-table, .custom-table {
        thead {
            border: none;
            width: 1px;
            height: 1px;
            overflow: hidden;
            margin: -1px;
            padding: 0;
            position: absolute;
        }

        tbody tr {
            border-bottom: 1px solid $lightGrey;
        }

        td {
            text-align: right;
            display: block;

            &:before {
                content: attr(data-label);
                float: left;
                color: $zucoraPurple;
                font-weight: 600;
            }
        }
    }
}

/*----------------------------------------------Market Portal-------------------------------------*/

/*Product Order page*/

.productOrders-image {
    @include background-image("market-portal","product-order-image.png");
}

.overlay-textContainer {
    background: rgba(0,0,0,0.35);
    //height:300px;
    height: 100%;
}

.overlay-text {
    position: relative;
    top: 60%;
}

.status-completed {
    @include status-button(#4AC58A);
    background: rgba(169, 255, 214, 0.2);
}

.status-inprogress {
    @include status-button($lilacPurple);
    background: rgba(163, 172, 255, 0.1);
}

.status-canceled {
    @include status-button(#FF9393);
    background: rgba(255, 147, 147, 0.1);
}

@media screen and (max-width:1024px) {
    .overlay-text {
        position: relative;
        top: 50%;
        text-align: center;
    }

    .status-completed, .status-inprogress, .status-canceled {
        float: right;
    }
}

@media screen and (min-width:1025px) {
}

.custom-boxshadow {
    box-shadow: 0px 10px 20px #EEEFF3;
}


/*Plan Registration*/
.plan-registrationBackground {
    @include background-image("market-portal","plan-registration-2.jpg");
}

.purple-border {
    border: 1px solid $zucoraPurple;
}

/*Market Partner Profile*/

.initalName-background {
    @include round-background($lightPurple,80);
}

.payment-pref-icon {
    @include round-background(rgba(111, 207, 151, 0.2),80);

    p > i {
        @include round-background-font(2,#4AC58A);
    }
}

.map-icon-container {
    @include round-background(rgba(86, 204, 242, 0.2),80);

    p > i {
        @include round-background-font(2,#56CCF2);
    }
}

.banking-icon-container {
    @include round-background(rgba(255, 179, 147, 0.2),80);

    p > i {
        @include round-background-font(2,#FFB393);
    }
}

.location-icon-container {
    @include round-background(rgba(67, 77, 160, 0.2),80);

    p > i {
        @include round-background-font(2,#434DA0);
    }
}

.paymentMethod-icon {
    @include round-background(rgba(188, 147, 255, 0.2),80);

    p > i {
        @include round-background-font(2,#BC93FF);
    }
}


/* New css from Riley*/

.gift__form > form .after__gift {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 200px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 80px;
}

.gift__form > form .after__gift > p {
    margin: 0px;
    color: #828A8F;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.gift__form > form .after__gift > p a {
    color: #434da0;
    text-decoration: underline;
    font-size: 14px;
    line-height: 16px;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
}

.gift__form > form .after__gift > p a:hover {
    opacity: .7;
}

.gift__form > form .gift__form--block .step__gift--form {
    padding: 40px 0px;
    border-bottom: 1px solid rgba(189, 196, 201, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 200px;
}

.gift__form > form .gift__form--block .step__gift--form:last-child {
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 60px;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content {
    width: 100%;
    max-width: 440px;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .dropdown__field {
    width: 100%;
    position: relative;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .dropdown__field .dropdown__float {
    display: none;
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .dropdown__field .dropdown__float ul {
    height: 200px;
    overflow-y: auto;
    width: 100%;
    margin: 0px;
    padding: 5px;
    /* Track */
    /* Handle */
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .dropdown__field .dropdown__float ul::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .dropdown__field .dropdown__float ul::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .dropdown__field .dropdown__float ul::-webkit-scrollbar-thumb {
    background: #434DA0;
    border-radius: 5px;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .dropdown__field .dropdown__float ul li {
    width: 100%;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .dropdown__field .dropdown__float ul li a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    color: #111111;
    font-size: 16px;
    text-decoration: none;
    line-height: 18px;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
    width: 100%;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .dropdown__field .dropdown__float ul li a:hover {
    color: #fff;
    background-color: #434DA0;
    border-radius: 5px;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .dropdown__field > a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 50px;
    background: #FFFFFF;
    border: 1px solid #BDC4C9;
    width: 100%;
    text-decoration: none;
    padding-left: 22px;
    color: #111111;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding-right: 22px;
    border-radius: 5px;
    background: url("../css/GC/Images/floatarrow.svg");
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 95% center;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .field__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .field__input > p {
    margin: 0px;
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #828A8F;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .field__input > p span {
    color: #000;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .field__input > input {
    height: 50px;
    width: 100%;
    max-width: 460px;
    background: #FFFFFF;
    border: 1px solid #BDC4C9;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    outline: none;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .gift__step--buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .gift__step--buttons > .transfer__gift {
    min-width: 250px;
    min-height: 42px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
    border: 1px solid #434DA0;
    border-radius: 5px;
    color: #434da0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .gift__step--buttons > .transfer__gift:hover {
    color: #fff;
    background-color: #434DA0;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .gift__step--buttons > .send__gift {
    min-width: 170px;
    min-height: 42px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #434DA0;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin-right: 15px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--content .gift__step--buttons > .send__gift:hover {
    opacity: .7;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--head > p {
    margin: 0px;
    color: #111111;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
}

.gift__form > form .gift__form--block .step__gift--form .gift__step--head > span {
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 250px;
    border: 2px solid #EFF3F5;
    background-color: #fff;
    color: #434da0;
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    margin-right: 24px;
}

.gift__form > form .head__gift--form {
    margin-bottom: 80px;
    max-width: 460px;
}

.gift__form > form .head__gift--form > h2 {
    margin-top: 0px;
    margin-bottom: 24px;
    color: #111111;
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
}

.gift__form > form .head__gift--form > p {
    margin: 0px;
    color: #505162;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.modal__block {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    /*  z-index: 8;*/
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.modal__block .modal__inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.modal__block .modal__inner > .modal__box {
    max-height: calc(100%);
    overflow-y: auto;
    width: 100%;
    max-width: 550px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 40px;
    position: relative;
}

.modal__block .modal__inner > .modal__box .reward__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element {
    width: 100%;
    padding: 23px 20px;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element .form-group label {
    color: #111111;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element .elem__reward {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element .reward__price {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border-radius: 250px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 15px;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element .reward__cost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element .reward__cost > p {
    margin: 0px;
    color: #111111;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element .reward__cost > span {
    color: #828A8F;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 10px;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element.reward__yellow {
    background: #FFFEDF;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element.reward__yellow .reward__price {
    border-radius: 999px;
    background-color: rgba(224, 192, 25, 0.12);
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element.reward__yellow .reward__price span {
    color: #D3C223;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element.reward__lightblue {
    background: #EAFCFF;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element.reward__lightblue .reward__price {
    border-radius: 999px;
    background-color: rgba(53, 225, 254, 0.12);
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element.reward__lightblue .reward__price span {
    color: #4395A0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element.reward__blue {
    background: #E7EBFD;
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element.reward__blue .reward__price {
    border-radius: 999px;
    background-color: rgba(67, 77, 160, 0.12);
}

.modal__block .modal__inner > .modal__box .reward__list > .reward__element.reward__blue .reward__price span {
    color: #434DA0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.modal__block .modal__inner > .modal__box .reward__submit {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal__block .modal__inner > .modal__box .reward__submit > input[type="submit"] {
    width: 100%;
    height: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #434DA0;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    cursor: pointer;
    border: 0px;
    outline: none;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
}

.modal__block .modal__inner > .modal__box .reward__submit > input[type="submit"]:hover {
    opacity: .7;
}

.modal__block .modal__inner > .modal__box .reward__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.modal__block .modal__inner > .modal__box .modal__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.modal__block .modal__inner > .modal__box .modal__head h2 {
    margin: 0px;
    color: #111111;
    font-size: 32px;
    line-height: 37px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: 400;
}

.modal__block .modal__inner > .modal__box .modal__head > a {
    position: absolute;
    top: 30px;
    right: 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
}

.modal__block .modal__inner > .modal__box .modal__head > a > img {
    max-width: 37px;
}

.modal__block .modal__inner > .modal__box .modal__head > a:hover {
    opacity: .7;
}

.modal__send .modal__inner .modal__box .send__info .send__submit {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px;
}

.modal__send .modal__inner .modal__box .send__info .send__submit > input[type="submit"] {
    width: 100%;
    height: 40px;
    background: #434DA0;
    border-radius: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    border: 0px;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
}

.modal__send .modal__inner .modal__box .send__info > p {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #505162;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.modal__send .modal__inner .modal__box .send__info > h6 {
    margin: 0px;
    margin-bottom: 50px;
    text-align: center;
    color: #434da0;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
}

.send__checkbox .form-group label {
    color: #828a8f;
    font-size: 14px;
    line-height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.send__checkbox .form-group label:before {
    margin-right: 10px;
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;
    border-radius: 3px;
    top: 0px;
    left: 2px;
    margin-left: 0px;
}

.send__checkbox .form-group label:after {
    left: 9px;
    right: auto;
}

.transfer__form form .send__checkbox {
    margin-top: 24px;
}

.transfer__form form .group__submit {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.transfer__form form .group__submit > input[type="submit"] {
    width: 100%;
    height: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #434DA0;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
    cursor: pointer;
    border: 0px;
    outline: none;
}

.transfer__form form .group__submit > input[type="submit"]:hover {
    opacity: .7;
}

.transfer__form form .group__transfer {
    width: 100%;
    margin-bottom: 15px;
}

.transfer__form form .group__transfer > textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 15px 20px;
    color: #000;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #BDC4C9;
    outline: none;
}

.transfer__form form .group__transfer > input[type="text"] {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    font-weight: 400;
    outline: none;
    border-radius: 5px;
    outline: none;
    border: 1px solid #BDC4C9;
}

.transfer__form form .group__transfer:last-child {
    margin-bottom: 0px;
}

.transfer__form form > p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #505162;
    margin-bottom: 40px;
}

.transfer__form form > p span {
    color: #000;
}

/* Rep Portal style*/

.toggle-password{
    i{
        position:relative;
        margin-left:-2em;
        margin-top:1em;
    }
}

.grey-hr{
    border-bottom:1px solid $darkGrey;
    margin:2.5em auto;
    display:block;
    width:90%;
}