/*This is Main style sheet*/
@charset 'utf-8';

/*Variables*/
$zucoraPurple: #434DA0;
$lilacPurple: #a3acff;
$lightPurple: #ebecf7;
$lightGrey: #898A8D;
$darkGrey: #36384B;
$zucoraGreen: #70E9B2;
$concreteGrey: #C8C8C8;
$zucoraCoral: #FEB9A6;
$hbfsBlue: #2BAAE1;

/*new colours*/
$customGreen: #EAFCFF;
$customLightPurple: #E7EBFD;
$customGrey: #828A8F;

$para-fonts: "Aktiv-Grostek", arial, sans-serif;
$heading-fonts: "Publico Headline", sans-serif;

/*Fonts*/
@font-face {
    font-family: 'Aktiv-Grostek';
    src: url('/fonts/aktiv_grotesk-webfont.woff') format('woff'), url('/fonts/aktiv_grotesk-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv-Grostek';
    src: url('/fonts/aktiv_grotesk_italic-webfont.woff') format('woff'), url('/fonts/aktiv_grotesk_italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv-Grostek';
    src: url('/fonts/aktiv_grotesk_bold-webfont.woff') format('woff'), url('/fonts/aktiv_grotesk_bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Publico Headline';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/PublicoHeadline-Medium.woff2') format('woff2'), url(/fonts/PublicoHeadline-Medium.woff) format("woff");
}

@font-face {
    font-family: 'Publico Headline';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/PublicoHeadline-BoldItalic.woff2') format('woff2'), url('/fonts/PublicoHeadline-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Publico Headline';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/PublicoHeadline-Light.woff2') format('woff2'), url('/fonts/PublicoHeadline-Light.woff') format('woff');
}

@font-face {
    font-family: 'Publico Headline';
    font-weight: 300;
    font-style: italic;
    src: url('/fonts/PublicoHeadline-LightItalic.woff2') format('woff2'), url('/fonts/PublicoHeadline-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Publico Headline';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/PublicoHeadline-Bold.woff2') format('woff2'), url('/fonts/PublicoHeadline-Bold.woff') format('woff');
}

p, ul, li, a, span, table {
    font-family: $para-fonts;
    color: $darkGrey;
    font-size: 1em;
}

a:hover {
    color: $zucoraPurple;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-fonts;
    line-height: 1.5;
}

h1 {
    font-size: 2.9em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1.15em;
}

.fs-14{
    font-size:0.875em;
}

.fs-12{
    font-size:0.75em;
}

.fs-18{
    font-size:1.15em;
}

.fs-20{
    font-size:1.25em;
}

/*Text classes*/

.paragraph-font {
    font-family: $para-fonts;
}

.header-font {
    font-family: $heading-fonts;
}

.purple-text {
    color: $zucoraPurple;
}

.darkGrey-text {
    color: $darkGrey;
}

.lightGrey-text {
    color: $lightGrey;
}

.white-text {
    color: white !important;
}

.customGrey-text{
    color:$customGrey;
}

.custom-redText {
    color: #FF9393;
}

.lillacPurple-text{
    color:$lilacPurple;
}

/*Mixins*/

@mixin background-image($folder,$image) {
        background-image: url("../images/#{$folder}/#{$image}");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
}

@mixin status-button($colour) {
    color: $colour;
    border: 1px solid $colour;
    border-radius: 30px;
    padding: 7px;
}

@mixin round-background($color,$widthHeight) {
    background-color: $color;
    width: #{$widthHeight}px;
    height: #{$widthHeight}px;
    display:flex;
    justify-content:center;
    align-items:center;
}

@mixin round-background-font($size,$color){
    font-size:#{$size}em;
    margin:0.25 0 0 0;
    color:$color;
}

.minHeight100{
    min-height:100px;
}

/*Background classes*/
.purple-background {
    background-color: $zucoraPurple;
}

.white-background{
    background-color:white;
}
.login-background {
    background-color: #F8FBFD;
}

.newLightPurple-background{
    background-color: $customLightPurple;
}

.newLightGreen-background{
    background-color: $customGreen;
}

/*Bootstrap class changes*/

.btn-primary{
    background-color:$zucoraPurple;
    border-color:$zucoraPurple;

    &:hover{
        background-color:$lilacPurple;
        border-color:$lilacPurple;
    }
}

.btn-secondary{
    background-color:$darkGrey;
    color:white;
    border-color:$darkGrey;

    &:hover{
        
    }
}

.rounded-3{
    border-radius:.75rem !important;
}

/*Navigation*/
/*Zucora Navigation*/
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    width: 2em;
    height: 2em;
}

.custom-toggler .navbar-toggler {
    border-color: rgba(255,255,255,0);
    border: unset;
}

@media screen and (max-width:768px){
    .navbar-brand{
        width:75%;
    }

    .footer-logo{
        width:40%;
    }
    .custom-dropdown-menu.dropdown-menu{
        width:auto;
    }
}

.custom-navLink {

    &:hover {
        background-color: white;
        transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        padding:5px 10px;
        a {
            color: $zucoraPurple !important;
        }
    }

    a {
        /*padding: 10px 10px 5px 10px;*/
        font-size: 1em;
    }
}

.custom-dropdown-menu.dropdown-menu {
    position: absolute;
    width: 30vw;
    right: 0;
    top: 105%;
    background: white;
    border-bottom: 4px solid #434da0;
    z-index: 100;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    padding: 20px 15px;
    /*display: grid;*/
    grid-template-columns: 50% 50%;
}

.custom-dropdown-menu.dropdown-menu, .customTop-nav-dropdown.dropdown-menu {
    border-radius: 0px !important;
    border-bottom: 4px solid $zucoraPurple;
}

.custom-dropdown-menu .dropdown-item, .customTop-nav-dropdown .dropdown-item {
    &:hover, &:focus {
        color: $zucoraPurple;
        background-color: $lightPurple !important;
    }
}

/*Footer styling*/

.footer-logo {
    width: 10%;
}

.socialMedia-icons {
    a {
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;

        i {
            font-size: 1.5em;
        }

        &:hover {
            background-color: white;
            padding: 12px;
 

            i {
                color: $zucoraPurple !important;
            }
        }
    }
}

.white-hr {
    border-top: 2px solid white;
}

.footer-links > a {
        transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        &:hover {
            background-color: white;
            padding: 5px 10px;
            color:$zucoraPurple !important;
        }
    
}


/*Custom Button*/
.greenButton {
    background-color: transparent;
    border: 3px solid $zucoraGreen;
    color: $zucoraGreen !important;
    border-radius: 2em;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    padding: 15px 15px 10px 15px;

    &:hover {
        background-color: $zucoraGreen;
        color: white !important;
    }
}


/*Login page styling*/
.login-imageBackground{
   @include background-image("consumer-portal","login-page.jpg");
}

.account-imageBackground{
    @include background-image("consumer-portal","account-page-image.jpg");
}

/*Creat account styling*/

.createAccount-successIcon{
    width:50%;
}

/*Secondary navigation part*/

.hero-background{
    @include background-image("consumer-portal","first-hero-image.jpg");
    background-position:center center;
}

.profile-infoContainer{
    width:100%;
    background-color:white;
}

.profile-iconContainer{
    > img{
        margin-top:-4em;
    }
}

.custom-navTabs {
    border-bottom: 1px solid rgba(189, 196, 201, 0.4);

    .nav-link {
        color: $customGrey;
        font-weight: 700;

        &.active {
            color: $zucoraPurple;
            text-decoration: underline;
        }

        &:hover {
            background-color: $lilacPurple;
            transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -oz-transition: all 0.3s ease-in-out;
            color: white;
            text-decoration:none;
        }
    }
}

/*My plans page*/
.furniture-planContainer {
    /* background-color: rgba(163,172,255,0.65);*/
    background-color: #E7EBFD;
}

.applaince-planContainer {
    /* background-color: rgba(112,233,178,0.65);*/
    background-color: #EAFCFF;
}

.homeSystems-planContainer {
    /*background-color:rgba(254,185,166,0.65);*/
    background-color: #FFFEDF;
}

.dotted-border {
    border-top: 1px dotted $darkGrey;
}

/*Account details forms*/

.information-form {

    label {
        color: $customGrey;
    }
}

/* Payment details page*/
.current-cardDetails {
    background: linear-gradient(303.44deg, #E7EBFD -5.26%, #E7F4FD 93.85%);
    display: flex;
    flex-direction: column;
    min-height:220px;
}

.add-newCard {
    border: 2px dotted #454FA1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    min-height:220px;
    .plus-icon {
        background-color: #E7EBFD;
        border-radius: 50%;
        width:100px;
        height:100px;
        display:flex;
        justify-content:center;
        align-items:center;

        a{
            font-size:3em;
            margin:0.25em 0 0 0;
        }
    }
}

/*Gift card*/

.minHeight270{
    min-height:270px;
}

/* Transactions page*/
.search-padding{
    padding:0.5rem 2rem;
}

/*Table*/

.transaction-table {
    border-collapse: collapse;

    thead > tr > th {
        padding: 1rem;
    }

    tbody > tr:nth-child(odd) {
        background-color: #F8FBFD;
    }

    tbody > tr > td {
        color: $darkGrey;
        padding: 1rem;
    }
}

@media screen and (max-width:1023px){
    .transaction-table, .custom-table {
        thead {
            border: none;
            width: 1px;
            height: 1px;
            overflow: hidden;
            margin: -1px;
            padding: 0;
            position: absolute;
        }

        tbody tr {
            border-bottom: 1px solid $lightGrey;
        }

        td {
            text-align: right;
            display: block;

            &:before {
                content: attr(data-label);
                float: left;
                color: $zucoraPurple;
                font-weight: 600;
            }
        }
    }
}

/*----------------------------------------------Market Portal-------------------------------------*/

/*Product Order page*/

.productOrders-image{
    @include background-image("market-portal","product-order-image.png"); 
}

.overlay-textContainer{
    background:rgba(0,0,0,0.35);
    //height:300px;
    height:100%;
}
.overlay-text {
    position: relative;
    top: 60%;
}

.status-completed {
    @include status-button(#4AC58A);
    background: rgba(169, 255, 214, 0.2);
}

.status-inprogress {
    @include status-button($lilacPurple);
    background: rgba(163, 172, 255, 0.1);
}

.status-canceled {
    @include status-button(#FF9393);
    background: rgba(255, 147, 147, 0.1);
}

@media screen and (max-width:1024px){
    .overlay-text {
        position: relative;
        top: 50%;
        text-align:center;
    }

    .status-completed, .status-inprogress, .status-canceled{
        float:right;
    }

}

@media screen and (min-width:1025px){
   
}

.custom-boxshadow {
    box-shadow: 0px 10px 20px #EEEFF3;
}


/*Plan Registration*/
.plan-registrationBackground{
    @include background-image("market-portal","plan-registration-2.jpg");
}

.purple-border{
    border:1px solid $zucoraPurple;
}

/*Market Partner Profile*/

.initalName-background{
    @include round-background($lightPurple,80);
}

.payment-pref-icon {
    @include round-background(rgba(111, 207, 151, 0.2),80);

    p > i {
        @include round-background-font(2,#4AC58A);
    }
}

.map-icon-container {
    @include round-background(rgba(86, 204, 242, 0.2),80);

    p > i {
        @include round-background-font(2,#56CCF2);
    }
}

.banking-icon-container {
    @include round-background(rgba(255, 179, 147, 0.2),80);

    p > i {
        @include round-background-font(2,#FFB393);
    }
}

.location-icon-container {
    @include round-background(rgba(67, 77, 160, 0.2),80);

    p > i {
        @include round-background-font(2,#434DA0);
    }
}

.paymentMethod-icon {
    @include round-background(rgba(188, 147, 255, 0.2),80);

    p > i {
        @include round-background-font(2,#BC93FF);
    }
}