@page
@model New_ConsumerPortal.Pages.account_detailsModel
@{
    ViewData["Title"] = "Account Details";
}
<section class="container g-0">
    <div class="row">
        <!--left side form-->
        <div class="col-12 col-lg-6">
            <h2></h2>
        </div>
        <!--right side form-->
        <div class="col-12 col-lg-6">

        </div>
    </div>
</section>