@page
@model New_ConsumerPortal.Pages.account_detailsModel
@{
    ViewData["Title"] = "Account Details";
}

<section class="row g-0 mb-4">
    <h1 class="d-none">Secondary navigation with portal pages</h1>
    <!--hero image-->
    <div class="col-12 hero-background">
        <img src="~/images/consumer-portal/first-hero-image.jpg" alt="An empty living room with blue sofa and plants on the table at left side." class="img-fluid invisible" />
    </div>
    <!--Profile info-->
    <div class="profile-infoContainer">
        <div class="profile-iconContainer d-flex justify-content-center">
            <img src="./images/consumer-portal/user-image-spacey.png" alt="An icon of a user icon in purple color with light background in circle shape." class="img-fluid" />
        </div>
        <div class="profile-textContainer row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <h1 class="text-center fw-light">Hello, <span class="purple-text">Name!</span></h1>
                <p class="text-center">ID <span class="fw-bold">1234567</span></p>
                <p class="text-center w-75 mx-auto">You have successfully created your account. Please check your email for a verification link in order to access your account.</p>
            </div>
        </div>
    </div>
    <!--Sub menu-->
    <nav>
        <ul class="nav justify-content-center custom-navTabs">
            <li class="nav-item">
                <a class="nav-link" href="my-plans" aria-current="page">My Plans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="create-myplans">Create My Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="account-details">My Account Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="payment-details">My Payment Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="transactions">My Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="gift-cards">My Gift Cards</a>
            </li>
        </ul>
    </nav>
</section>
<!--Page content-->
<section class="container g-0">
    <div class="row">
        <!--left side form-->
        <div class="col-12 col-lg-6">
            <h3>My Information</h3>
            <div class="information-form my-3">
                <div class="mb-3 flex-column d-flex">
                    <label class="form-label text-uppercase fw-bold" for="">First Name</label>
                    <input type="text" name="first-name" value="" class="form-control-lg form-control" placeholder="" />
                </div>
                <div class="mb-3 flex-column d-flex">
                    <label class="form-label text-uppercase fw-bold" for="">Last Name</label>
                    <input type="text" name="last-name" value="" class="form-control-lg form-control" placeholder="" />
                </div>
                <div class="mb-3 flex-column d-flex">
                    <label class="form-label text-uppercase fw-bold" for="">Email</label>
                    <input type="text" name="email" value="" class="form-control-lg form-control" placeholder="" />
                </div>
                <div class="mb-3 flex-column d-flex">
                    <label class="form-label text-uppercase fw-bold" for="">Phone Number</label>
                    <input type="text" name="tel" value="" class="form-control-lg form-control" placeholder="" />
                </div>
            </div>
        </div>
        <!--right side form-->
        <div class="col-12 col-lg-6">
            <h3>Home Address</h3>
            <div class="information-form my-3">
                <div class="mb-3 flex-column d-flex">
                    <label class="form-label text-uppercase fw-bold" for="">Address line 1</label>
                    <input type="text" name="address-line-one" value="" class="form-control-lg form-control" placeholder="" />
                </div>
                <div class="mb-3 flex-column d-flex">
                    <label class="form-label text-uppercase fw-bold" for="">Address Line 2</label>
                    <input type="text" name="address-line-two" value="" class="form-control-lg form-control" placeholder="" />
                </div>
                <div class="mb-3 flex-column d-flex">
                    <label class="form-label text-uppercase fw-bold" for="">City</label>
                    <input type="text" name="city" value="" class="form-control-lg form-control" placeholder="" />
                </div>
                <div class="d-flex flex-column">
                    <label for="" class="form-label text-uppercase fw-bold">Province</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg">
                        <option selected>Province</option>
                        <option value="1">Alberta</option>
                        <option value="2">British Columbia</option>
                        <option value="3">Manitoba</option>
                        <option value="4">New Brunswick</option>
                        <option value="5">Newfoundland and Labrador</option>
                        <option value="12">Northwest Territories</option>
                        <option value="6">Nova Scotia</option>
                        <option value="7">Nunavut</option>
                        <option value="8">Ontario</option>
                        <option value="9">Prince Edward Island</option>
                        <option value="10">Québec</option>
                        <option value="11">Saskatchewan</option>
                        <option value="13">Yukon</option>
                    </select>
                </div>

                <div class="mb-3 flex-column d-flex">
                    <label class="form-label text-uppercase fw-bold" for="">Postal Code</label>
                    <input type="text" name="text" value="" class="form-control-lg form-control" placeholder="" />
                </div>
                <div class="mb-3 flex-column d-flex">
                    <label class="form-label text-uppercase fw-bold" for="">Country</label>
                    <input type="text" name="text" value="" class="form-control-lg form-control" placeholder="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid g-0">
    <div class="row">
        <!--new w-100-->
        <div class="col-12">
            <hr />
        </div>
        <!--Save button-->
        <div class="col-12 d-flex justify-content-lg-end justify-content-center col-lg-9 my-3 offset-lg-1">
            <button class="btn btn-primary w-25" type="submit">Save</button>
        </div>
    </div>
</section>
