@page
@model New_ConsumerPortal.Pages.Backup_codeModel
@{
}
<!--FROM  CREATE ACCOUNT CONDITIONS OF USE AND PRIVACY POLICY-->
<!--Condition of use modal-->
<div class="modal fade" id="conditionsOfUseModal" tabindex="-1" role="dialog" aria-labelledby="conditionsUseTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-center font-weight-light purple-text" id="conditionsUseTitle">Conditions of Use</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-c9618250-0bda-4649-90c5-fe2ced066d1c"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mx-auto d-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Privacy Policy Modal-->
<div class="modal fade PrivacyPolicyModal" id="" tabindex="-1" role="dialog" aria-labelledby="privacyPolicyTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-center font-weight-light purple-text" id="privacyPolicyTitle">Privacy Policy</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-d97db88e-34b2-4c25-8d43-3fe1b2d60f20"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mx-auto d-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>