@page
@model New_ConsumerPortal.Pages.change_passwordModel
@{
    ViewData["Title"] = "Request Password Reset";
}
<div class="row g-0 login-background align-items-center">
    <!--Left side image-->
    <div class="col-md-6">
        <div class="account-imageBackground">
            <img src="~/images/consumer-portal/account-page-image.jpg" alt="An image of family hugging and happy togther." class="img-fluid invisible" />
        </div>
    </div>
    <!--right side form-->
    <div class="col-md-6">
        <div class="p-3 row justify-content-center">
            <h1 class="fw-light text-center">Change Password</h1>
            <div class="col col-lg-8 col-xl-6 mt-3">
                <div class="mb-3">
                    <input type="password" class="form-control form-control-lg" id="current-password" name="current-password" placeholder="Current password" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control form-control-lg" id="newPassword-set" placeholder="New password" required>
                    <div class="form-text">7-15 characters with at least on of &#64;&#35;&#36;&#37;&#94;&#38;&#42;&#40;&#41;&#43;&#61; and a number</div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control form-control-lg" id="confirm-password" placeholder="Confirm new password" required>
                </div>
                <div class="mt-5">
                    <button class="btn btn-primary w-100 text-uppercase btn-lg" type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>