@page
@model New_ConsumerPortal.Pages.LoginModel
@{

}

<div class="row g-0">
    <!--Left side image-->
    <div class="col-md-6 d-none d-sm-block lightLillac-box" style="width:100%;height:500px;">

    </div>
    <!--right side form-->
    <div class="white-background col-md-6 purple-background" style="width:100%;height:500px;">

    </div>
</div>

