@page
@model New_ConsumerPortal.Pages.my_plansModel
@{
    ViewData["Title"] = "My Plans";
}

<section class="row g-0 mb-4">
    <h1 class="d-none">Secondary navigation with portal pages</h1>
    <!--hero image-->
    <div class="col-12 hero-background">
        <img src="~/images/consumer-portal/first-hero-image.jpg" alt="An empty living room with blue sofa and plants on the table at left side." class="img-fluid invisible" />
    </div>
    <!--Profile info-->
    <div class="profile-infoContainer">
        <div class="profile-iconContainer d-flex justify-content-center">
            <img src="./images/consumer-portal/user-image-spacey.png" alt="An icon of a user icon in purple color with light background in circle shape." class="img-fluid" />
        </div>
        <div class="profile-textContainer row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <h1 class="text-center fw-light">Hello, <span class="purple-text">Name!</span></h1>
                <p class="text-center">ID <span class="fw-bold">1234567</span></p>
                <p class="text-center w-75 mx-auto">You have successfully created your account. Please check your email for a verification link in order to access your account.</p>
            </div>
        </div>
    </div>
    <!--Sub menu-->
    <nav>
        <ul class="nav justify-content-center custom-navTabs">
            <li class="nav-item">
                <a class="nav-link active" href="my-plans" aria-current="page">My Plans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="create-myplans">Create My Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="account-details">My Account Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="payment-details">My Payment Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="transactions">My Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="gift-cards">My Gift Cards</a>
            </li>
        </ul>
    </nav>
</section>
<!--Main Page content-->
<section class="container g-0">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 mb-3">
            <div class="row align-items-center justify-content-around">
                <!--info icon left side-->
                <div class="col-md-2 d-none d-sm-block">
                    <img src="./images/consumer-portal/info-icon.png" alt="An icon written 'icon' with cirlce background." class="img-fluid" />
                </div>
                <!--right side subscription details-->
                <div class="col-12 col-md-10">
                    <h4 class="text-start fw-light">Subscription details:</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="text-uppercase">Your next bill date is</p>
                        <p class="w-50 d-none d-md-block dotted-border"></p>
                        <p id="bill-date" class="fw-bold">mm/dd/yyyy</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="text-uppercase">Your credit card (ending in <span id="creditCard-ending">xxxx</span>) will be charged</p>
                        <p class="w-25 d-none d-md-block dotted-border"></p>
                        <p id="bill-amount" class="fw-bold">$xx + tax</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Current plans if they exist-->
    <div class="row justify-content-center mt-4 mb-3 gy-3">
        <h3 class="my-2 fw-light">Current Plan</h3>
        <div class="col-12 col-md-4">
            <div class="furniture-planContainer p-3">
                <h5 class="fw-bold">Furniture</h5>
                <p class="text-uppercase">Status: <span class="plan-status fw-bold">Active</span></p>
                <p class="minHeight100">When your furniture becomes stained or accidentally damaged, your Smarter Living Plan provides you with worry-free repair and replacement solutions.<a href="#" class="purple-text text-decoration-underline" target="_blank"> Learn more</a></p>
                <hr />
                <div class="text-center my-2">
                    <h6 class="paragraph-font fw-bold text-uppercase"><span class="plan-cost fw-bold">$29.99</span> cad</h6>
                    <p>per month + tax</p>
                </div>
                <!--<div class="my-1">
        <button class="btn-secondary btn text-uppercase w-100" type="button">Change my plans</button>
    </div>-->
                <div class="my-2 d-flex justify-content-center">
                    <a href="#" class="purple-text fw-light text-decoration-underline">Terms and conditions</a>
                </div>
            </div>
        </div>
    </div>
    <!--Available Plans-->
    <div class="row justify-content-center mt-4 mb-3 align-items-center gy-3">
        <h3 class="my-2 fw-light">Available Plans</h3>
        <div class="col-12 col-md-4">
            <div class="applaince-planContainer p-3">
                <h5 class="fw-bold">Appliance</h5>
                <!--<p class="text-uppercase">Status: <span class="plan-status fw-bold">Active</span></p>-->
                <p class="minHeight100">Select a plan that fits your lifestyle and budget. Receive worry-free repair and replacement solutions.<a href="#" class="purple-text text-decoration-underline" target="_blank"> Learn more</a></p>
                <hr />
                <div class="text-center my-2">
                    <h6 class="paragraph-font text-uppercase"><span class="plan-cost fw-bold">$39.99</span> cad</h6>
                    <p>per month + tax</p>
                </div>
                <div class="my-1">
                    <button class="btn-secondary btn text-uppercase w-100" type="button">Add</button>
                </div>
                <div class="my-2 d-flex justify-content-center">
                    <a href="#" class="purple-text fw-light text-decoration-underline">Terms and conditions</a>
                </div>
            </div>
        </div>
        <!--home system plan-->
        <div class="col-12 col-md-4">
            <div class="homeSystems-planContainer p-3">
                <h5 class="fw-bold">Home System</h5>
                <!--<p class="text-uppercase">Status: <span class="plan-status fw-bold">Active</span></p>-->
                <p class="minHeight100">When your home-comfort systems don’t operate the way they should the Smarter Living Plan can help protect your budget from unexpected repairs or replacement costs.<a href="#" class="purple-text text-decoration-underline" target="_blank"> Learn more</a></p>
                <hr />
                <div class="text-center my-2">
                    <h6 class="paragraph-font text-uppercase"><span class="plan-cost fw-bold">$49.99</span> cad</h6>
                    <p>per month + tax</p>
                </div>
                <div class="my-1">
                    <a class="btn-secondary btn text-uppercase w-100" role="button">Add</a>
                </div>
                <div class="my-2 d-flex justify-content-center">
                    <a href="#" class="purple-text fw-light text-decoration-underline">Terms and conditions</a>
                </div>
            </div>
        </div>
    </div>
</section>