@page
@model New_ConsumerPortal.Pages.request_reset_passwordModel
@{
    ViewData["Title"] = "Request Password Reset";
}
<div class="row g-0 login-background align-items-center">
    <!--Left side image-->
    <div class="col-md-6">
        <div class="account-imageBackground">
            <img src="~/images/consumer-portal/account-page-image.jpg" alt="An image of family hugging and happy togther." class="img-fluid invisible" />
        </div>
    </div>
    <!--right side form-->
    <div class="col-md-6">
        <div class="p-3 row justify-content-center">
            <h1 class="fw-light text-center">Request Password Reset</h1>
            <div class="col col-lg-8 col-xl-6 mt-3">
                <div class="mb-3">
                    <input type="email" name="resetPassword-email" id="resetPassword-email" value="" placeholder="Email address" class="form-control form-control-lg" required />
                </div>
                <p class="fw-bold">Set reset link via</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="resetPassword-choice" id="resetPassword-choice-Email" value="Email">
                    <label class="form-check-label" for="resetPassword-choice">Email</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="resetPassword-choice" id="resetPassword-choice-SMS" value="SMS" checked>
                    <label class="form-check-label" for="resetPassword-choice">SMS</label>
                </div>
            </div>

            <!--substitue of "row" class-->
            <div class="w-100"></div>
            <!--login button-->
            <div class="col col-lg-8 col-xl-6 my-2">
                <button class="btn btn-primary w-100 text-uppercase btn-lg" type="submit">Request password reset</button>
                <!--To show case the modal -->
                <!--ADD data-bs-toggle="modal" data-bs-target="#sucess-ResetPassword-Email" to show case the modal-->
                <!--Add data-bs-toggle="modal" data-bs-target="#sucess-ResetPassword-SMS" to show text option success modal-->
            </div>
        </div>
    </div>
</div>
<!--Success Email Password Reset Modal-->
<div class="modal fade" tabindex="-1" id="sucess-ResetPassword-Email" aria-labelledby="sucess-ResetPasswordEmailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="sucess-ResetPasswordEmailLabel">Password Reset Requested</h3>
                <button type="button" class="btn-close justify-content-end" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center flex-column p-4">
                <img src="~/images/consumer-portal/success-passwordReset-email.svg" class="img-fluid createAccount-successIcon mx-auto" alt="" />
                <p class="fw-bold text-center mt-4">Check your email please!</p>
                <p class="text-center">You will receive an email from us with instructions for resetting your password. If you don’t receive this email, please check your junk mail folder.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100 text-uppercase" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!--Success Modal for SMS-->
<div class="modal fade" tabindex="-1" id="sucess-ResetPassword-SMS" aria-labelledby="sucess-ResetPasswordSMSLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="sucess-ResetPasswordSMSLabel">Password Reset Requested</h3>
                <button type="button" class="btn-close justify-content-end" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center flex-column p-4">
                <img src="~/images/consumer-portal/success-passwordReset-text.svg" class="img-fluid createAccount-successIcon mx-auto" alt="" />
                <p class="fw-bold text-center mt-4">Check your messages please!</p>
                <p class="text-center">You will receive a text message from us with instructions for resetting your password. If you don’t receive this message, please contact us.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100 text-uppercase" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>