@page
@model New_ConsumerPortal.Pages.transactionsModel
@{
    ViewData["Title"] = "Transactions";
}

<section class="row g-0 mb-4">
    <h1 class="d-none">Secondary navigation with portal pages</h1>
    <!--hero image-->
    <div class="col-12 hero-background">
        <img src="~/images/consumer-portal/first-hero-image.jpg" alt="An empty living room with blue sofa and plants on the table at left side." class="img-fluid invisible" />
    </div>
    <!--Profile info-->
    <div class="profile-infoContainer">
        <div class="profile-iconContainer d-flex justify-content-center">
            <img src="./images/consumer-portal/user-image-spacey.png" alt="An icon of a user icon in purple color with light background in circle shape." class="img-fluid" />
        </div>
        <div class="profile-textContainer row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <h1 class="text-center fw-light">Hello, <span class="purple-text">Name!</span></h1>
                <p class="text-center">ID <span class="fw-bold">1234567</span></p>
                <p class="text-center w-75 mx-auto">You have successfully created your account. Please check your email for a verification link in order to access your account.</p>
            </div>
        </div>
    </div>
    <!--Sub menu-->
    <nav>
        <ul class="nav justify-content-center custom-navTabs">
            <li class="nav-item">
                <a class="nav-link" href="my-plans" aria-current="page">My Plans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="create-myplans">Create My Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="account-details">My Account Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="payment-details">My Payment Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="transactions">My Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="gift-cards">My Gift Cards</a>
            </li>
        </ul>
    </nav>
</section>
<!--page content-->
<section class="container g-0">
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center flex-column flex-md-row">
            <!--title-->
            <div class="">
                <h1 class="fw-light">My Transactions</h1>
            </div>
            <!--Search bar-->
            <div class="d-flex align-items-center">
                <input type="search" name="transactions-search" value="" class="form-control form-control-lg search-padding" placeholder=" Search" aria-label="Search" />
                <button type="submit" class="btn position-absolute"><i class="fas fa-search purple-text"></i></button>
            </div>
        </div>
        <!--table-->
        <div class="col-12 my-3">
            <table class="table table-borderless transaction-table">
                <thead>
                    <tr>
                        <th scope="col" class="text-uppercase customGrey-text">Reference Number</th>
                        <th scope="col" class="text-uppercase customGrey-text">Date</th>
                        <th scope="col" class="text-uppercase customGrey-text">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" data-label="Reference Number"><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#transactionDetails">12345</a></td>
                        <td scope="row" data-label="Date">05/05/2025</td>
                        <td scope="row" data-label="Type">Example</td>
                    </tr>
                    <tr>
                        <td scope="row" data-label="Reference Number">12345</td>
                        <td scope="row" data-label="Date">05/05/2025</td>
                        <td scope="row" data-label="Type">Example</td>
                    </tr>
                    <tr>
                        <td scope="row" data-label="Reference Number">12345</td>
                        <td scope="row" data-label="Date">05/05/2025</td>
                        <td scope="row" data-label="Type">Example</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Pagination-->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <!--<span aria-hidden="true">&laquo;</span>-->
                    <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                </a>
            </li>
            <li class="page-item"><a class="page-link purple-text" href="#">1</a></li>
            <li class="page-item"><a class="page-link purple-text" href="#">2</a></li>
            <li class="page-item"><a class="page-link purple-text" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <!--<span aria-hidden="true">&raquo;</span>-->
                    <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>

                </a>
            </li>
        </ul>
    </nav>
</section>

<!--Data Transaction Modal-->
<div class="modal fade" tabindex="-1" id="transactionDetails" aria-labelledby="transactionDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-capitalize" id="transactionDetailsLabel">transaction details</h3>
                <button type="button" class="btn-close justify-content-end" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3">
                <div class="d-flex justify-content-between align-items-center my-2">
                    <p class="text-uppercase fs-14">Refenrece Number</p>
                    <p class="w-50 dotted-border d-none d-md-block"></p>
                    <p class="fw-bold">152345</p>
                </div>
                <div class="d-flex justify-content-between align-items-center my-2">
                    <p class="text-uppercase fs-14">Type</p>
                    <p class="w-50 dotted-border d-none d-md-block"></p>
                    <p class="fw-bold">Service Fee</p>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-2">
                    <p class="text-uppercase fs-14">Status</p>
                    <p class="w-50 dotted-border d-none d-md-block"></p>
                    <p class="fw-bold">Completed</p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary text-uppercase w-25" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>